[submodule "common"]
	path = common
	url = git://anongit.freedesktop.org/gstreamer/common
[submodule "gst-libs/ext/droidmedia"]
	path = gst-libs/ext/droidmedia
	url = https://github.com/sailfishos/droidmedia.git
